<hr>
<div class="container">
  <div class="row mt-5 py-4">
    <div class="col-md-6">
      <ul>
        <li class="nav-item"><a href="#!" class="nav-link">About</a></li>
        <li class="nav-item"><a href="#!" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="https://www.oracle.com/ke/education/" target="_blank" class="nav-link">Oracle Courses</a></li>
        <li class="nav-item"><a href="#!" class="nav-link">Blog</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li class="nav-item"><a href="https://twitter.com/oracle_ku" target="_blank" class="nav-link">Twitter</a></li>
        <li class="nav-item"><a href="#!" class="nav-link">Facebook</a></li>
        <li class="nav-item"><a href="#!" class="nav-link">Linkedin</a></li>
        <li class="nav-item"><a href="#!" class="nav-link">Instagram</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="py-4 mt-5 bg-dark text-center">
  <p class="text-white"> Kenyatta University Oracle Club &copy; 2020</p>
</div>